.button {

    &__small {
        background-color: #7C80C1;
        mix-blend-mode: normal;
        backdrop-filter: opacity(19%);

        border-radius: 3px;
        font-family: $Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 1.575px;
        color: #1A2149;
    }
}
