$black: #282727;
$ruby: #d3045f;
$coral: #fe5925;
$rose: #ff40b4;
$sunset: #fbba34;
$forest: #46877e;
$tide: #003d59;
$white: #ffffff;
$gray: #c4c4c4;
$light-tide: #cce4f0;
$light-coral: #ffd8cc;
$light-sunset: #faf3e6;
$light-forest: #ddebe9;
$light-rose: #f5e9f0;
$light-ruby: #fae1ec;
$medium-tide: #689bb3;
$medium-coral: #ffc4ab;
$medium-sunset: #fceecf;
$medium-forest: #b6d1cd;
$medium-ruby: #f2dae9;
